*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.game-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-image: url('/assets/background.jpg');
  background-color: hsla(0, 0%, 0%, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  cursor: url(/assets/knife.cur), pointer;
}

.game-header {
  background-color: hsla(0, 0%, 0%, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
}

.game-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.quiz-container, .game-score {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-over {
  color: #bb0a1e;
  font-size: 42px;
  text-align: center;
  padding-left: 15px;
}

.sub-text {
  color: #fff;
  font-size: 28px;
}

.quiz-question {
  font-size: 42px;
  color: #fff;
  text-align: center;
}

.death-character {
  color: #bb0a1e;
}

.quiz-static-questionmark {
  color: #bb0a1e;
  font-size: 56px;
  padding-left: 5px;
}

.quiz-options-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.quiz-option-item:first-child {
  margin-bottom: 20px;
}

.quiz-option-button,
.js-game-restart {
  background-color: #fff;
  cursor: url(/assets/bloodyknife.cur), pointer;
  color: #333;
  font-size: 32px;
  font-weight: bold;
  padding: 20px;
  width: 100%;
  min-width: 300px;
  min-height: 80px;
  border: none;
  border-radius: 4px;
  outline: 0;
}

.quiz-option-button:hover {
  color: #bb0a1e;
  transition: 0.08s ease-in;
}

.js-game-restart {
  cursor: url(/assets/knife.cur), pointer;  
  position: relative;
  color: #ffffff;
  border: 2px #ffffff solid;
  text-transform: uppercase;
  background: none;
  z-index: 1;
  transition: 0.08s ease-in;
}

.button-bg-fill:hover {
  color: rgb(29, 134, 29);
}

.button-bg-fill:before {
  content: "";
  position: absolute;
  background: #ffffff;
  bottom: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  transition: bottom 0.17s ease-in;
}

.button-bg-fill:hover:before {
  bottom: 0;
} 

.quiz-option-button.is-option-incorrect {
  background-color: hsl(0, 77.7%, 38.6%);
  color: #fff;
}

.quiz-option-button.is-option-correct {
  background-color: green;
  color: #fff;
}

.score-container {
  font-size: 36px;
  color: #f1c40f;
  text-align: center;
}

.score-streak {
  font-size: 300px;
  color: #f1c40f;
  line-height: 1;
  font-weight: bold;
}

.score-static-text {
}

.game-footer {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.game-footer p {
  margin: 0;
  padding: 0;
}

.game-footer a {
  color: #fff;
}

.game-footer strong {
  display: block;
}

.is-hidden {
  display: none;
}

.dbg {
  border: 2px solid red;
}

@media only screen and (min-width: 768px) {
  .game-container{
    flex-direction: row;
  }

  .game-footer strong {
    display: inline;
  }
}

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.anim-fade-in {
  animation: fade-slide-down 0.5s ease-out forwards;
}

.anim-fade-in-buttons {
  animation: fade-slide-down 0.5s 0.2s ease-out forwards;
}

